name:  Build and deploy container app to Azure Function App 

on:
  push:
    branches:
      - y
    paths:
      - 'emails/**'
      - 'subscriptions/**'

jobs:
  common-steps:
    runs-on: 'ubuntu-latest'
    outputs:
      changed_directories: ${{ steps.determine_directories.outputs.changed_directories }}
    steps:
      - name:  Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name:  Determine modified directories
        id: determine_directories
        run: |   
          changed_files=$(git diff --name-only HEAD^ HEAD)
          paths=(
            'emails'
            'subscriptions'
          )
          declare -A changed_dirs=() # 砖砖 注专 住爪
          for file in $changed_files; do
            for path in "${paths[@]}"; do
              # Check if the file path matches the specified directories and extract the first level directory
              if [[ "$file" =~ ^$path/[^/]+ ]]; then
                dir=$(echo "$file" | cut -d'/' -f1,2)
                changed_dirs["$dir"]=1 # 专转 驻转 注专 住爪
              fi
            done
          done
          json_array=$(printf '"%s"\n' "${!changed_dirs[@]}") # 砖砖 专转 JSON 驻专转  转拽
          echo "Changed directories: $json_array"
          echo "::set-output name=changed_directories::$json_array" # 专转 注专 JSON

      #     json_array=$(printf '["%s"]\n' "${!changed_dirs[@]}") # 砖砖 住专 专注 砖转 砖爪 转 驻转转
      #     echo "Changed directories: $json_array"
      #     echo "::set-output name=changed_directories::$json_array" # 专转 注专 JSON

  build-and-deploy:
    runs-on: 'ubuntu-latest'
    needs: common-steps
    strategy:
      matrix:
        directory: ${{fromJson(needs.common-steps.outputs.changed_directories)}}
    
    steps:
      - name: print-name
        run:
          echo ${{matrix.directory}};
          exit 0