name:  Build and deploy container app to Azure Function App 

on:
  push:
    branches:
      - y
    paths:
      - 'services/email/**' 
      - 'services/subscriptions/**' 

jobs:
  common-steps:
    runs-on: 'ubuntu-latest'
    outputs:
      changed_directories: ${{ steps.determine_directories.outputs.changed_directories }}
    steps:
      - name:  Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name:  Determine modified directories
        id: determine_directories
        run: |   
          changed_files=$(git diff --name-only HEAD^ HEAD)
          paths=(
            'services/emails' # 砖 -path 转拽转  转拽转 services
            'services/subscriptions' # 砖 -path 转拽转  转拽转 services
          )
          declare -A changed_dirs=() # 砖砖 注专 住爪
          for file in $changed_files; do
            for path in "${paths[@]}"; do
              # Check if the file path matches the specified directories and extract the first level directory
              if [[ "$file" =~ ^$path/[^/]+ ]]; then
                dir=$(echo "$file" | cut -d'/' -f1,3) # 住祝 注 砖转 转
                changed_dirs["$dir"]=1 # 专转 驻转 注专 住爪
              fi
            done
          done
          json_array=""
          for dir in "${!changed_dirs[@]}"; do
            json_array+="\"$dir\","
          done
          json_array="[${json_array%,}]" # 驻转 专转 注专 JSON
          echo "Changed directories: $json_array"
          echo "::set-output name=changed_directories::$json_array" # 专转 注专 JSON

  build-and-deploy:
    runs-on: 'ubuntu-latest'
    needs: common-steps
    strategy:
      matrix:
        directory: ${{fromJson(needs.common-steps.outputs.changed_directories)}}
    
    steps:
      - name: print-name
        run:
          echo ${{matrix.directory}};
          exit 0